/* get by element */
h3{
    background-color: red;
    padding-left: 5px;
}
/* get by class */
.or{
    background-color: blue;
}
/* get by id */
#header-1{
    color: aqua;
}



#side-by-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
   

}
img{
    height: 400px;
}